
<!DOCTYPE html>
<html>
<head>
  <title>Show Movie Details</title>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
</head>
<body>

  <div ng-app="myapp" ng-controller="myctrl">
  <form>
    <input type="text" ng-model="search" placeholder="Enter full movie name" /><br/><br/>
    <button ng-click="click()">Submit</button>
    
    </form>
  </div>
  
<script type="text/javascript">
  var app=angular.module('myapp', []);
  app.controller('myctrl',function($scope,$http){
    $scope.$watch('search',function(){
      click();
    });
    
    function click(){
      $http.get("https://www.omdbapi.com/?")
        .then(function(response) {
          $scope.details = response.data;
        });
    }
    });
 
</script>
</body>
</html>
Contact GitHub API Training Shop Blog About
© 2017 GitHub, Inc. Terms Privacy Security Status Help